html{
	height: 100%;
}
body{
	font-size: 13px;
	padding: 0;
	text-decoration: none;
	font-family: "微軟正黑體","Microsoft JhengHei",Arial;
	letter-spacing: 1px;
	line-height: 25px;
	background: transparent url('../img/bg.jpg') scroll no-repeat 50% 50%;
	height: 100%;
}

a:link, a:visited{
	color: #000;
	text-decoration: none;
}
a:hover, a:active{
	color: #000;
	text-decoration: none;
}

.margin-top-none{
	margin-top: 0px;
}
.margin-bottom-none{
	margin-bottom: 0px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top-40{
	margin-top: 40px;
}
.margin-bottom-20{
	margin-bottom: 20px;
}
.margin-bottom-40{
	margin-bottom: 40px;
}
.margin-bottom-10{
	margin-bottom: 10px;
}
.margin-left-20{
	margin-left: 20px;
}
.margin-left-10{
	margin-left: 10px;
}
.margin-right-10{
	margin-right: 10px;
}

.dashed-hr{
	border-top: 1px dashed #555;
}
.right-dash-border{
	border-right: 1px dashed #555;
	margin-left: -1px;
}
.left-dash-border{
	border-left: 1px dashed #555;
	margin-right: -1px;
}
.footer{
	margin: 20px 0 10px;
	font-size: 12px;
}
.table-separate{
  border-collapse: separate;
  border-spacing: 2px;
}
.sidebar-ul{
}
.sidebar-ul li{
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	height: 30px;
	margin: 10px 0;
}
.sidebar-ul li.no-border{
	border: none;
}
.sidebar-ul li strong {
	font-size: 1.1em;
}

.about-content-div{
	padding: 10px 0 0 0;
	margin: 40px 0 0 40px;
}
.about-content-div h4 {
	font-weight: bold;
}
.about-content-div p {
	font-size: 13px;
}
.brand-content-div{
	margin: 20px 0 0 20px;
}
.brand-content-div a{
	color: #000;
}
.contact-content-div{
	
}

.logo-div{
	position: relative;
	margin-top: 10px;
}
.logo-div h1 {
	width: 200px;
	height: 82px;
}
.logo-link{
	display: block;
	width: 200px;
	height: 82px;
	background: transparent url(../img/logo.jpg) scroll no-repeat 50% 50%;
}
.logo-link span{
	position: absolute;
	top: -200px;
	left: 0px;
}

.main-h3{
	background: transparent url(../img/menu-triangle.png) scroll no-repeat 0% 0%;
	text-indent: 20px;
}
.contact-h3{
	background: transparent url(../img/contact-triangle.png) scroll no-repeat 100% 80%;
	border-bottom: 1px dashed #555;
	margin-bottom: 20px;
}
.buy-link{
	font-weight: bold;
	font-style: italic;
	width: 120px;
	height: 120px;
	display: block;
	word-wrap: break-word;
}
.buy-link-b{
	font-weight: bold;
	width: 140px;
	height: 127px;
	display: inline-block;
	margin: 0 10px 0 0;
}
.product-dtl-buy-link{
	width: 65px;
	height: 65px;
	display: inline-block;
	margin-right: 5px;
	word-wrap: break-word;
}
#pchome-link{
	background: #2a85c7;
	color: #FFF;
}
#books-link{
	background: #89b929;
	color: #FFF;
}
#pinkoi-link{
	background: #e56189;
	color: #FFF;
}
#zakka-link{
	background: #c4b097;
	color: #FFF;
}

.chart-table a{
	display: block;
	margin: 9px;
	width: 160px;
}
.product-list-item-div{
	margin: 15px 15px 0 0;
	position: relative;
	width: 300px;
}
.product-list-item-div div{
	display: none;
	color: #FFF;
	background: #000;
	opacity: 0.7;
	width: 300px;
	height: 30px;
	line-height: 30px;
	top: 0px;
	left: 0px;
	position: absolute;
	text-indent: 10px;
}
.product-list-item-table{

}
.product-list-item-s{
	display: block;
	width: 150px;
	height: 150px;
	margin: 15px;
	position: relative;
}

.product-list-item-s div{
	display: none;
	color: #FFF;
	background: #000;
	opacity: 0.7;
	width: 150px;
	height: 30px;
	line-height: 30px;
	top: 0px;
	left: 0px;
	position: absolute;
	text-indent: 10px;
}

.product-dtl-ul{
	
}
.product-dtl-ul li{
	font-size: 14px;
	line-height: 30px;
}
.product-dtl-ul span{
	display: inline-block;
	text-indent: 20px;
}
.product-dtl-h3{
	border-bottom: 1px solid #000;
	padding: 0px 0px 15px 0;
}

.product-dtl-smallpic{
	margin: 0 0 18px 0;
}
.product-dtl-content-div{
	margin: 10px 0 ;
}
.buy-info-div{
	width: 700px;
	margin: 0 auto;
}
.buy-info-div span{
	display: inline-block;
	height: 16px;
	line-height: 16px;
	width: 233px;
	text-align: center;
}
.buy-planning{
	background: transparent url(../img/where-to-buy-strip.png) scroll repeat-X 50% 50%;
}
.contact-bg-div{
	background-image: url(../img/contact-bg-leftt.png),url(../img/contact-bg-right.png);
	background-position: 0% 11%,100% 100%;
	background-repeat: no-repeat,no-repeat;
}
.contact-content-div{
	width: 350px;
	margin: auto;
}

.contact-content-div .form-horizontal .control-label{
	width: 100px;
	text-align: left;
}

.contact-content-div .form-horizontal .controls{
	margin-left: 0px;
}


.carousel-indicators li {
	border: 1px solid #333;
	box-shadow: 1px 1px;
}

.carousel-control {
	top: 50%;
}

#index-prod-left-note {
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#index-where-to-buy ul {
	margin-top: -40px;
	text-align: right;
}

#index-where-to-buy li {
	display: inline-block;
}

#news-content p {
	font-size: 14px;
	margin: 20px 0;
}

#news-content .span2 strong {
	font-family: Arial;
	letter-spacing: 4px;
	font-size: 15px;
}

.contact-content-div select,
.contact-content-div textarea,
.contact-content-div input {
	border-radius: 0;
	border: 1px solid #333;
}

.chart-table a {
	
}
#top-menu {
	padding: 44px 0 0 44px;
}
#top-menu li {
	
}
#top-menu a {
}
#top-menu li:first-child .nav-item {
	margin-left: 0px;
}

.nav-item{
	position: relative;
	margin: 0 0 0 65px;
	width: 76px;
	height: 70px;
}
.nav-item-triangle{
	background: transparent url(../img/menu-triangle.png) scroll no-repeat 50% 50%;
	top: 0px;
	left: 0px;
	position: absolute;
	width: 15px;
	height: 14px;
}
.nav-item-bg{
	bottom: 45px;
	right: 0px;
	position: absolute;
}

.menu-brand{
	background: transparent url(../img/menu_brand.png) scroll no-repeat 50% 50%;
	width: 35px;
	height: 59px;
}
.menu-buy{
	background: transparent url(../img/menu_buy.png) scroll no-repeat 50% 50%;
	width: 49px;
	height: 58px;
}
.menu-product{
	background: transparent url(../img/menu_product.png) scroll no-repeat 50% 50%;
	width: 39px;
	height: 59px;
}
.menu-news{
	background: transparent url(../img/menu_news.png) scroll no-repeat 50% 50%;
	width: 52px;
	height: 48px;
}
.menu-contact{
	background: transparent url(../img/menu_contact_us.png) scroll no-repeat 50% 50%;
	width: 52px;
	height: 36px;
}
.nav-item-link{
	display: block;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Arial;
	font-weight: bold;
	padding-top: 36px;
}

.nav-item-link span{
	display: block;
}

#product-spot {
	position: relative;
	height: 460px;
}
#product-info {
	position: relative;
	height: 100%;
}
#product-list {
	height: 100%;
	padding-bottom: 140px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}
#product-buy {
	position: absolute;
	bottom: 0;
	height: 140px;
}
#product-buy > span {
	font-weight: bold;
	text-indent: 15px;
	font-family: Arial;
	font-size: 14px;
	display: block;
}
.container {
	padding: 0 40px;
	background: #FFF;
	height: 100%;
}
.carousel-caption {
	background: #333;
	background: rgba(0,0,0,0.5);
}